@import "tailwindcss";

@theme {
  --font-sans: var(--font-montserrat);
  
  --color-duabg: #000000;
  --color-dualime: #ccff00;
  --color-duaorange: #ff6600;
  --color-duagrey: #1a1a1a;
}

:root {
  --background: #000000;
  --foreground: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
  overflow-x: hidden; /* Prevent horizontal scroll */
}

/* Smooth scrolling for anchor links */
html {
  scroll-behavior: smooth;
}

/* Custom selection color */
::selection {
  background-color: var(--color-dualime);
  color: var(--color-duabg);
}
